/*
 * nextflow.config
 * Configuration file for the SQcompare workflow
 */

profiles {
    standard {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '2h'
        process.conda    = "sq_compare_environment.yml"
        docker.enabled   = false
        singularity.enabled = false
    }

    cluster {
        process.executor = 'slurm'  // or 'pbs', 'sge', etc. depending on your HPC
        process.queue    = 'default'
        process.cpus     = 2
        process.memory   = '2 GB'
        process.time     = '12h'
        process.conda    = "sq_compare_environment.yml"
    }

}

params {
    input        = "./input/*"
    collapseISM  = false
    out       = "./results"
}