/*
 * nextflow.config
 * Configuration file for the isoform analysis workflow
 */

profiles {
    standard {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '8 GB'
        process.time     = '2h'
        process.conda    = "$projectDir/environment.yml"
        docker.enabled   = false
        singularity.enabled = false
    }

    cluster {
        process.executor = 'slurm'  // or 'pbs', 'sge', etc. depending on your HPC
        process.queue    = 'default'
        process.cpus     = 8
        process.memory   = '32 GB'
        process.time     = '12h'
        process.conda    = "$projectDir/environment.yml"
    }

    docker {
        docker.enabled   = true
        process.container = 'yourdockerhub/isoform-analysis:latest'
    }
}

params {
    input        = "./input/*"
    samples      = "./samples.txt"
    collapseISM  = true
    expression   = "./expression/*"
    outdir       = "./results"
}